.register{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content:  center;
}
.formOne {
    display: flex;
    flex-direction: column;

} 
.p-auth-info {
    font-size: 1.6rem;
    color: #000;
}

.spanOne {
    font-size: 12px;
    color: red;
}

